,
.bundle
.cache
.DS_Store
.sass-cache

npm-debug.log
Thumbs.db
config.rb
_notes
node_modules

/assets/css/*.css
/assets/css/src/_icon.scss
/assets/js/*.js
/assets/fonts/*.eot
/assets/fonts/*.ttf
/assets/fonts/*.woff
